
{% extends 'base.html' %}
{% block content %}

<section class="section text-center shadow">
    <div class="container p-5">
        <div class="row">
            <div class="d-md-flex align-items-center justify-content-evenly">
                <h1 class="font col text-center"><br>Song Log Empire</h1>
                
            </div>
            <div class="details">
                <h6 class="font">Welcome to your Song Log. Lorem ipsum dolor sit amet, sed
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
            </div>
        </div>
    </div>
</section>


    <!-- <section class="background-div text-light bg-secondary text-center">
        <div class="container">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="images/m4fpox - Copy.jpg" class="img" alt="concrete">
                </div>
            </div>
        </div>
    </section> -->

        <!-- Footer -->
        <footer>
            <div class="bottom">
                <div class="footinfo">
                    <div class="font-bottom foothead">Info</div>
                    <div class="location">
                        <p class="tiny font-bottom"><i class="fa-solid fa-location-crosshairs"></i> 5000 San Diego Rd, San Diego, CA 55555</p>
                    </div>
                    <div class="email">
                        <p class="tiny font-bottom"><i class="fa-solid fa-envelope"></i>your-song-log@email.com</p>
                    </div>
                    <div class="office">
                        <p class="tiny font-bottom"><i class="fa-solid fa-phone"></i>Call or Text Us: (555)-555-5555</p>
                    </div>
                </div>
                <div class="social font-bottom">
                    <div class="foothead">Social Media</div>
                    <div class="media">
                        <a href="#"><p class="font-bottom tiny"><i class="fa-brands fa-facebook"></i>Facebook</p></a>
                    </div>
                    <div class="media">
                        <a href="#"><p class="font-bottom tiny"><i class="fa-brands fa-facebook-messenger"></i>Messenger</p></a>
                    </div>
                    <div class="media">
                        <a href="#"><p class="font-bottom tiny"><i class="fa-brands fa-instagram"></i>Instagram</p></a>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}