{% extends 'base.html' %}

{% block content %} 
    <section class="text-light text-center shadow mb-20">
        <div class="container p-5">
            <div class="row">
                <div class="d-md-flex align-items-center justify-content-evenly">
                    <h1 class="profile-header col text-center">{{ current_user.email}}'s user profile</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
    <div class="container p-10">
        <div class="row"><br>
            <h3 class="profile-details p-5 text-light">Here are your profile details</h3>
            <ul class="list-group">
                <li class="list-color list-group-item text-light">Email: {{ current_user.email }}</li>
                <li class="list-color list-group-item text-light">Token: {{ current_user.token }} </li> 
            </ul>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-4"></div>
            <div class="profile-div col-3 p-10">
                <img src="../../static/images/undraw_road_to_knowledge_m8s0.png" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    </section>
{% endblock %}