*,*:before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  padding-top: 20px;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(237, 155, 87);
}

.profile-header{
  margin-top: 50px;
  color: rgb(32, 52, 154);
}

.list-color{
  background-color: rgb(239, 137, 53);
  border: 10px solid rgb(239, 137, 53);
}

.navbar {
  background-color: rgb(32, 52, 154);
}

.create{
  margin-top: 50px;
}

.sign{
  background-color: rgb(237, 155, 87);
}

.sign-text{
  color: rgb(137, 231, 247);
}

.details{
  width: 300px;
  border: 15px solid rgb(137, 231, 247);
  padding: 20px;
  margin-left: 500px;
}

.font{
  color: rgb(239, 208, 187)
}

.font-link{
  color: rgb(236, 112, 46);
  font-weight: bold;
}

.font-bottom{
  color: rgb(37, 157, 249)
}

.section{
  background-color: rgb(237, 155, 87);
}

.img{
  height: 1000px;
  width: auto;
}

footer {
  margin-bottom: 0px;
}

.bottom {
  background-color: rgb(99, 233, 179);
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-evenly;
}

.footinfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 0.8em;
  padding-left: 100px;
  margin-top: 0px;
}

.foothead {
  font-size: 2em;
}

.tiny {
  margin: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 0.8em;
  margin-left: 800px;
  margin-top: 0px;
}

.profile-div{
  padding-bottom: 100px;
}

.profile-details{
  margin-left: -50px;
}